@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
	--success-color: #2ecc71;
	--error-color: #e74c3c;
}

* {
    box-sizing: border-box;
}

body {
	background-color: #f9fafb;
	font-family: 'Playfair Display', serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}
